<h1>Discount Doctors Home Page</h1>

<p>
  Welcome to Reverse Auction beta site.
</p>

<% if current_patient || current_doctor %>
  <%= link_to 'Current Service Requests', auctions_path %>
<% end %>




