<div id='bid'>
  <h2><%= number_with_precision(@bid.lowest_bid, precision: 2) %></h2>
  <%= number_with_precision(@bid.maximum_bid, precision: 2) %>
  <%= simple_format(@bid.additional_offers) %>
</div>
