<% patients_only do %>
  <%= link_to "Service Request", new_auction_path %>
<% end %>

<h2>Auctions</h2>
<ul>
  <% @auctions.each do |auction| %>
    <li><%= link_to auction.service, auction %></li>
  <% end %>
</ul>
