// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { background-color: #FFFCDC;
}

h1, h3 { color: #A18FB9;
}

p:nth-child(2) { font-size: 20px;
}

.navbar .brand { background-color: #EEF8BB;
}

p:nth-child(3) { font-size: 10px;
}
